@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script type="text/javascript">
        setInterval(function () {
            $('p').fadeOut(1000);
            $('p').fadeIn(1000);
        }, 3000)();
    </script>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TaskManager Application</p>
</div>
